/* ===== Resets and Housekeeping ===== */
* {
    padding: 0;
    margin: 0;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    background: #eeebe7;
    padding: 100px 20px;
    text-align: center;
  }
  
  /* ===== Actual Styles ===== */
  
  /* ===== Horizontal Rule ===== */
  .rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
  }
  
  /* ===== Select Box ===== */
  .sel {
    font-size: 1rem;
    display: inline-block;
    margin: 3em 2em;
    width: 350px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  
  .sel::before {
    position: absolute;
    content: '\f063';
    font-family: 'FontAwesome';
    font-size: 2em;
    color: #FFF;
    right: 20px;
    top: calc(50% - 0.5em);
  }
  
  .sel.active::before {
    transform: rotateX(-180deg);
  }
  
  .sel__placeholder {
    display: block;
    font-family: 'Quicksand';
    font-size: 2.3em;
    color: #838e95;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
  }
  
  .sel.active .sel__placeholder {
    visibility: hidden;
  }
  
  .sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
  }
  
  .sel.active .sel__placeholder::before {
    visibility: visible;
  }
  
  .sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
  }
  
  .sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
  }
  
  .sel__box__options {
    display: list-item;
    font-family: 'Quicksand';
    font-size: 1.5em;
    color: #838e95;
    padding: 0.5em 1em;
    user-select: none;
  }
  
  .sel__box__options::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 0.5em;
    margin-left: 5px;
    display: none;
  }
  
  .sel__box__options.selected::after {
    display: inline;
  }
  
  .sel__box__options:hover {
    background-color: #ebedef;
  }
  
  /* ----- Select Box Black Panther ----- */
  .sel {
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  }
  
  .sel--black-panther {
    z-index: 3;
  }
  
  /* ----- Select Box Superman ----- */
  .sel--superman {
  /*   display: none; */
    z-index: 2;
  }
  
  /* ===== Keyframes ===== */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }


  body {
    font-family: 'lato', sans-serif;
  }
  .tablecontainer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    
  }
  
.responsive-table li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #1c59cc;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 8%;
    }
    .col-2 {
      flex-basis: 10%;
    }
    .col-3 {
      flex-basis: 10%;
    }
    .col-4 {
      flex-basis: 15%;
    }
    .col-5{
        flex-basis: 10%;
    }
    .col-6{
      flex-basis: 10%;
  }
    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        /* &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      } */
    }
  }
