{% extends 'basic.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/contactus.css' %}">
<title>{% block title %} CONTACT US{% endblock title %} </title>
<script src="https://kit.fontawesome.com/caa1247060.js" crossorigin="anonymous"></script>

<div class="contact">
  <div class="profile-card">
    <div class="img">
      <img src="\static\images\prathamesh.jpg">
    </div>
    <div class="caption">
      <h3>Prathamesh Berad</h3>
      <p>Research-head</p>

      <div class="social-links">
        <a href="https://www.linkedin.com/in/prathamesh-berad-454798222">
          <i class="fa fa-linkedin-square fa-pull-left fa-2x">
          </i></a>
     
        <a href="mailto: prathamesh.berad21@vit.edu">
          <i class="fa fa-envelope fa-2x">
          </i></a>
      
        <a href="https://www.instagram.com/prathm.eshh/">
          <i class="fab fa-instagram fa-pull-right fa-2x">
          </i></a>
      </div>
    </div>
  </div>



  <div class="profile-card">
    <div class="img">
      <img src="\static\images\shantanu.jpg">
    </div>
    <div class="caption">
      <h3>Shantanu Betawar</h3>
      <p>Management & content</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/shantanu-betawar-1410b5226">
          <i class="fa fa-linkedin-square fa-pull-left  fa-2x">
          </i></a>
     
          <a href="mailto: shantanu.betawar21@vit.edu">
            <i class="fa fa-envelope fa-2x">
            </i></a>
    
            <a href="https://www.instagram.com/shantanu_betawar/">
              <i class="fab fa-instagram fa-pull-right fa-2x">
              </i></a>
      </div>
    </div>
  </div>


  <div class="profile-card">
    <div class="img">
      <img src="\static\images\chaitanya.jpg">
    </div>
    <div class="caption">
      <h3>Chaitanya Bhadade</h3>
      <p>Database-manager</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/chaitanya-bhadade-3a2629230">
          <i class="fa fa-linkedin-square fa-pull-left fa-2x">
          </i></a>
     
          <a href="mailto: chaitanya.bhadade21@vit.edu">
            <i class="fa fa-envelope fa-2x">
            </i></a>
        
            <a href="https://www.instagram.com/chaitanyabhadade/">
              <i class="fab fa-instagram fa-2x fa-pull-right">
              </i></a>
       
      </div>
    </div>
  </div>


  <div class="profile-card">
    <div class="img">
      <img src="\static\images\sandesh.jpg">
    </div>
    <div class="caption">
      <h3>Sandesh Baghwat</h3>
      <p>Backend-head</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/sandesh-bhagwat-434039230">
          <i class="fa fa-linkedin-square fa-pull-left fa-2x">
          </i></a>
      
          <a href="mailto: sandesh.bhagwat21@vit.edu">
            <i class="fa fa-envelope fa-2x">
            </i></a>
         
            <a href="https://www.instagram.com/sandesh_175/">
              <i class="fa fa-instagram fa-pull-right fa-2x">
              </i></a>
       
      </div>
    </div>
  </div>






  <div class="profile-card">
    <div class="img">
      <img src="\static\images\parag.jpg">
    </div>
    <div class="caption">
      <h3>Parag Bhadke</h3>
      <p>Front-end Developer</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/parag-bhadke-013321231">
          <i class="fa fa-linkedin-square fa-pull-left fa-2x">
          </i></a>
     
          <a href="mailto: prathamesh.berad21@vit.edu">
            <i class="fa fa-envelope fa-2x">
            </i></a>
       
            <a href="https://www.instagram.com/paragbhadke/">
              <i class="fab fa-instagram fa-pull-right fa-2x">
              </i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}